h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, option, select, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, section {
    margin:0;
    padding:0;
    border:none;
}

a {
    text-decoration: none;
    color: #EC3332;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #EC3332;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;

    letter-spacing: 0.02em;
    color: #EC3332;
}

.reel h2 {
    color: #FFFFFF;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;

    line-height: 130%;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #EC3332;
}

p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;

    color: #000000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    z-index: 1;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #000000;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
}

.top {
    display: block;
    position: relative;
    background-color: #EC3332;
    top: 0;
    left: 0;
}

.RDCLR-shadow {
    position: absolute;
}

.HOME {
    position: absolute;
}

.HOME-shadow {
    position: absolute;
}

.arrow {
    position: absolute;
}

.top p {
    position: absolute;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;

    color: #FFFFFF;
}

.reel {
    position: relative;

    background-image: url("image/ShowReel.png");
    background-repeat: space;
    color: #FFFFFF;
    text-align: center;
}

.reel h2:after {
    content: url("image/play.png");
    position: absolute;
    top: 287px;
    left: 798px;
}

section {
    display: grid;
}

section div img {
    float: left;
}

.marquee{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.card {
    background-color: #E6E6E6;
    display: flex;
}

.picture {
    background-color: #000000;
    display: flex;
}

.picture h2, .picture p {
    color: #FFFFFF;
    text-transform: uppercase;
}

.description h1, .description  h3{
    color: #000000;
}

.description button {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;

    line-height: 130%;

    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.slider {
    display: flex;
}

.slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-wrapper {
    display: flex;
    overflow: hidden;
}

.slide p{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: normal;

    line-height: 130%;

    letter-spacing: 0.02em;

    color: #000000;
}

.slide img {
    background-color: #000000;
}

/* --- -- - - - - - - - - - -- - - - - - - - - - - - - - - -- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (min-width: 1440px) {
    header {
        position: sticky;
        top: 0;
        left: 0;
        margin: 40px 70px 0 72px;
    }

    header button {
        display: none;
    }

    header nav {}

    .top {
        height: 800px;
    }

    .RDCLR {
        /*left: 83px;*/
        /*top: 176px;*/
    }

    .RDCLR-shadow {
        width: 60%;
        margin-left: 80px;
        margin-top: 10%;
        /*left: 83px;*/
        /*top: 176px;*/
        transform: translateX(17px) translateY(11px);
    }

    .HOME {
        width: 50%;
        margin-top: 23%;
        margin-left: 35%;
        margin-bottom: 5%;
        /*left: 467px;*/
        /*top: 404px;*/
    }

    .HOME-shadow {
        width: 50%;
        margin-left: -50%;
        margin-top: 23%;
        transform: translateX(17px) translateY(11px);
    }

    .arrow{
        left: 81px;
        top: 671px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        width: 50%;
        left: 464px;
        top: 662px;

        font-size: 20px;

        letter-spacing: 0.02em;
    }

    h1 {
        font-size: 58px;

        margin-top: 160px;
        margin-left: 348px;
    }

    h1 + p {
        font-size: 20px;

        margin-top: 40px;
        margin-left: 349px;

        width: 50%;
    }

    h2 {
        font-size: 36px;
    }

    .reel {
        width: 1270px;
        height: 676px;

        box-shadow: 10px 10px #EC3332;

        margin: 220px 0 170px 80px;
    }

    .reel h2 {
        padding-top: 313px;
        margin-right: 100px;
    }

    section{
        grid-template-rows: repeat(auto-fill, minmax(107px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(424px, 1fr));
        grid-column-gap: 80px;
        grid-row-gap: 60px;
        margin: 100px 0 222px 349px;
    }

    section div {
        width: 424px;
    }

    section div img{
        padding-top: 16px;
        margin-right: 36px;
    }

    .card {
        flex-direction: row;

    }

    .picture img {
        margin-top: 96px;
        width: 100%;
    }

    .picture {
        flex-direction: column;
        min-width: 486px;
        min-height: 1100px;
    }

    .picture h2{
        margin-top: 34px;
        margin-left: 80px;
    }

    .picture p {
        margin-left: 80px;
        margin-top: 2px;
    }

    .description h1 {
        margin-left: 130px;
        margin-top: 160px;
    }

    .description h2 {
        margin-left: 130px;
        margin-top: 24px;
    }

    .description h3 {
        margin-left: 130px;
        margin-top: 60px;
        text-transform: none;
    }

    .description p {
        margin-left: 130px;
        width: 55%;
        margin-top: 20px;
    }

    .description button {
        width: 429px;
        height: 70px;

        font-size: 20px;

        background: #EC3332;
        border: none;
        box-shadow: 10px 10px #000000;

        margin-top: 70px;
        margin-left: 130px;
    }

    .slider {
        flex-direction: row;
        margin: 63px 80px 100px;
    }

    .slider-buttons .button-next {
        width: 52px;
        height: 30px;
    }

    .slider-buttons .button-prev {
        width: 52px;
        height: 30px;
    }

    .slider-buttons {
        width: 120px;
    }

    .slide-wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-left: 155px;
    }

    .slide {
        margin-right: 70px;
        transform: translateX(10px);
    }

    .slide img{
        box-shadow: 10px 10px #EC3332;
    }

    .slide p {
        font-size: 20px;
        margin-top: 5px;
        margin-left: 2px;
    }

    .slide h3 {
        margin-top: 30px;
        text-transform: none;
        color: #000000;
    }


    .marquee-left{
        white-space:nowrap;
        overflow:hidden;
    }

    .marquee-left span {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #EC3332;
        display:inline-block;
        -webkit-animation: marquee-left 10s infinite linear;
        animation: marquee-left 10s infinite linear;
    }

    @-webkit-keyframes marquee-left {
        0%{-webkit-transform: translate(0, 0);}
        100%{-webkit-transform: translate(-100%, 0);}
    }

    @keyframes marquee-left{
        0%{transform: translate(0, 0);}
        100%{transform: translate(-100%, 0)}
    }

    .marquee{
        white-space:nowrap;
        overflow:hidden;
    }

    .marquee span {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #EC3332;
        display:inline-block;
        -webkit-animation: marquee 10s infinite linear;
        animation: marquee 10s infinite linear;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;

        padding-right: 20px;
    }

    @-webkit-keyframes marquee {
        0%{-webkit-transform: translate(-100%, 0);}
        100%{-webkit-transform: translate(0, 0);}
    }
    @keyframes marquee{
        0%{transform: translate(-100%, 0);}
        100%{transform: translate(0, 0)}
    }

}

/* ************************************************************************************************************ */

@media screen and (max-width: 1439px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        margin: 30px 20px 0 20px;
        background: transparent;
        width: 100%;
    }

    header button {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        background-image: url("image/button.svg");
        background-repeat: round;
        margin-right: 40px;
    }

    header nav {
        display: none;
    }

    nav.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #EC3332;
        overflow: hidden;
        z-index: 2;
    }

    nav.active a {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 240%;
        letter-spacing: 0.02em;
        color: #000000;
        width: 140px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .top {
        height: 480px;
    }

    .RDCLR {
        left: 20px;
        top: 159px;
        width: 276px;
    }

    .RDCLR-shadow {
        left: 20px;
        top: 159px;
        width: 276px;
        transform: translateX(4px) translateY(3px);
    }

    .HOME {
        left: 72px;
        top: 218px;
        width: 224px;
    }

    .HOME-shadow {
        left: 72px;
        top: 218px;
        width: 224px;
        transform: translateX(4px) translateY(3px);
    }

    .arrow{
        left: 20px;
        top: 427px;
        width: 21px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        width: 65%;
        left: 72px;
        top: 296px;

        font-size: 14px;

        letter-spacing: 0.02em;
    }

    h1{
        font-size: 28px;
    }

    .reel h2 {
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }
}