html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, option, select, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin:0;
    padding:0;
    border:none;
}

a {
    text-decoration: none;
}

form {
    display: grid;
    position: relative;
}

.select{
    border: 2px solid #000000;
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
}

.slide-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.slide{
    display: none;
}

.slide.active{
    display: block;
    width: 770px;
    height: 300px;
    position: relative;
    animation: anim 0.7s linear;
}

@keyframes anim{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }

}

.button-prev{
    background-image: url("image/leftArrow.svg");
    background-color: transparent;
    border: none;
    outline: none;
    background-repeat: round;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.button-next{
    background-image: url("image/rightArrow.svg");
    background-color: transparent;
    border: none;
    outline: none;
    background-repeat: round;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 30px;
}

textarea:focus::-webkit-input-placeholder{color: transparent}

input:focus::-webkit-input-placeholder {color: transparent}

@media screen and (min-width: 1440px) {
    header {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.02em;

        color: #000000;
        position: sticky;
        top: 40px;
        left: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        margin-left: 80px;
    }

    header button {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 288px;
        margin-right: 80px;
    }

    header nav a {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.02em;

        color: #000000;
    }

    header + div {
        position: absolute;
        top: 100px;
        left: 20px;
    }

    header + div {
        position: sticky;
        top: 245px;
    }

    header + div img {
        padding-left: 80px;
    }

    main {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;

        color: #000000;

        width: 743px;
        margin: 136px 0 0 350px;

        display: flex;
        flex-direction: column;
    }

    main a {
        color: #EC3332;
    }

    main img {
        box-shadow: 10px 10px #EC3332;
    }

    main h1 {
        font-weight: bold;
        font-size: 58px;
        text-transform: uppercase;
        color: #EC3332;

        line-height: 130%;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }

    main h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        letter-spacing: 0.02em;

        color: #EC3332;

        margin-bottom: 30px;
        margin-top: 80px;
    }

    main p + h3 {
        margin-top: 60px;
    }

    main h3{
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;

        color: #EC3332;
        margin-bottom: 20px;
    }

    blockquote {
        font-style: italic;
        font-weight: normal;
        font-size: 42px;
        line-height: 100%;
        letter-spacing: 0.02em;

        color: #000000;
        margin-top: 120px;
        margin-bottom: 120px;

        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;

        padding-top: 64px;
        padding-bottom: 66px;
        padding-left: 100px;
        position: relative;
    }

    blockquote::before {
        content: url("image/Group.svg");
        position: absolute;
        top: 60px;
        left: 0;
    }

    ol {
        margin-left: 30px;
        margin-top: 39px;
        margin-bottom: 39px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        list-style: none;
        counter-reset: count;
    }

    ol li {
        margin-bottom: 36px;
        counter-increment: count;
        position: relative;
    }

    ol li::before {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        content: counter(count);
        color: #EC3332;
        width: 50px;
        display: inline-block;
    }

    ol li::after {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        content: counter(count);
        width: 50px;
        display: inline-block;
        color: transparent;
        position: absolute;
        top: 2px;
        left: 2px;
        -webkit-text-stroke: 2px #EC3332;
        z-index: -1;
    }

    .l_arrow {
        box-shadow: none;
    }

    .r_arrow {
        box-shadow: none;
    }

    .arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 144px;
        margin-top: 23px;
        margin-bottom: 50px;
        position: absolute;
        top: 2137px;
        left: 80px;
    }

    ul {
        margin-top: 30px;
        padding-left: 40px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        list-style-image: url("image/Ellipse2.svg");
        margin-bottom: 80px;
    }

    ul li {
        padding-left: 14px;
        margin-bottom: 16px;
    }

    ul + h2 {
        margin-top: 50px;
    }

    img + p {
        margin-top: 40px;
    }

    p img {
        box-shadow: none;
        margin-left: 10px;
        margin-right: 10px;
    }

    p + h1 {
        margin-top: 160px;
    }

    form  {
        grid-template-rows: repeat(auto-fill, minmax(70px, 1px));
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-row-gap: 40px;
    }

    select {
        width:100%;
        height:100%;
        display: block;
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
        padding-left: 22px;
    }

    .red {
        color: #EC3332;
    }

    input {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
        height: 70px;
        padding-left: 22px;
        border: 2px solid #000000;
    }

    input::-webkit-input-placeholder{
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #A8A8A8;
    }

    button {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.12em;
        text-transform: uppercase;

        background: #EC3332;
        color: #FFFFFF;

        height: 70px;
        box-shadow: 10px 10px #000000;
        margin-bottom: 141px;
        border: none;
    }

    input + p {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #A8A8A8;
        margin-top: -89px;
        margin-left: 35px;
    }

    textarea {
        border: 2px solid #000000;
        height: 173px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        padding: 22px 22px;

        color: #000000;
        resize: none;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 80px 40px 80px;
        border-top: 2px solid #000000;
        padding-top: 24px;
    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 24px;
        width: 140px;
    }

    footer nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 288px;
    }

    footer div a {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #EC3332;
    }

    footer nav a {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #000000;
    }
}

/*_______________________________________________________ */

@media screen and (max-width: 1439px) {
    header {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;

        color: #000000;
        margin-top: 30px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        z-index: 1;
        justify-content: space-between;
    }

    header button {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        background-image: url("image/button.svg");
        background-repeat: round;
        margin-right: 20px;
        box-shadow: none;
    }

    button:checked {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        background-repeat: round;
        background-image: url("image/close.svg");
        z-index: 1;
    }

    header a {
        width: 52px;
    }

    header nav {
        display: none;
    }

    header nav.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #EC3332;
        z-index: 2;
    }

    nav.active a {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 240%;
        letter-spacing: 0.02em;
        color: #000000;
        width: 140px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    header a {
        width: 52px;
    }

    header + div {
        margin-top: -80px;
        left: 20px;
    }

    header + div img {
        padding-left: 20px;
        width: 20px;
    }

    main {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;

        color: #000000;

        width: 90%;
        margin: 26px auto 0 20px;

        display: flex;
        flex-direction: column;
    }

    main img {
        box-shadow: 4px 4px #EC3332;
        width: 90%;
    }

    main h1 {
        font-weight: bold;
        font-size: 28px;
        text-transform: uppercase;
        color: #EC3332;

        line-height: 130%;
        letter-spacing: 0.02em;
        margin-bottom: 24px;
    }

    main p + h2 {
        margin-top: 50px;
    }

    main h2 {
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;

        color: #EC3332;

        margin-bottom: 24px;
    }

    main p + h3 {
        margin-top: 36px;
    }

    main h3{
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;

        color: #EC3332;
        margin-bottom: 10px;
    }

    blockquote {
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.02em;

        color: #000000;
        margin-top: 70px;
        margin-bottom: 70px;

        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;

        padding-top: 44px;
        padding-bottom: 46px;
        padding-left: 50px;
        position: relative;
    }

    blockquote::before {
        content: url("image/BlockquoteMobile.svg");
        position: absolute;
        top: 48px;
        left: 0;
    }

    ol {
        margin-left: 20px;
        margin-top: 31px;
        margin-bottom: 31px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        list-style: none;
        counter-reset: count;
    }

    ol li {
        margin-bottom: 20px;
        counter-increment: count;
        position: relative;
    }

    ol li::before {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 130%;
        content: counter(count);
        width: 40px;
        display: inline-block;
        color: #EC3332;
    }

    ol li::after {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 130%;
        content: counter(count);
        width: 40px;
        display: inline-block;
        color: transparent;
        position: absolute;
        top: 2px;
        left: 2px;
        -webkit-text-stroke: 2px #EC3332;
        z-index: -1;
    }

    .l_arrow {
        width: 24px;
        box-shadow: none;
    }

    .r_arrow {
        width: 24px;
        box-shadow: none;
    }

    .arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 78px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    ul {
        margin-top: 24px;
        padding-left: 50px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        list-style-image: url("image/Ellipse2.svg");
    }

    ul li {
        padding-left: 14px;
        margin-bottom: 16px;
    }

    ul + h2 {
        margin-top: 50px;
    }

    img + p {
        margin-top: 28px;
    }

    p img {
        box-shadow: none;
        width: 11px;
    }

    p + h1 {
        margin-top: 80px;
    }

    form  {
        grid-template-rows: repeat(auto-fill, minmax(56px, 1px));
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-row-gap: 20px;
    }

    select {
        width:100%;
        height:100%;
        display: block;
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
        padding-left: 12px;
    }

    .red {
        color: #EC3332;
    }

    input {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
        height: 56px;
        padding-left: 12px;
        border: 2px solid #000000;
    }

    input::-webkit-input-placeholder{
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #A8A8A8;

    }

    /* кавооо */
    input[type="checkbox"] {
        background: #FFFFFF;

        border: 2px solid #000000;
    }

    button {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.12em;
        text-transform: uppercase;

        background: #EC3332;
        color: #FFFFFF;

        height: 56px;
        box-shadow: 5px 5px #000000;
        margin-bottom: 141px;
        border: none;
    }

    textarea {
        border: 2px solid #000000;
        height: 180px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        padding: 12px 12px;

        color: #000000;
        resize: none;
    }

    input + p {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #A8A8A8;
        margin-top: -61px;
        margin-left: 26px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: 0 20px 40px 20px;
        border-top: 2px solid #000000;
        padding-top: 24px;
    }

    footer div {
        margin-bottom: 24px;
        text-align: center;
    }

    footer div a {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #EC3332;
    }

    footer nav a {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 210%;
        letter-spacing: 0.02em;
        color: #000000;
    }
}